* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*------------------- 
HERO SECTION STYLES  
--------------------*/
.hero__section {
  background-color: #2d25a0;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__container {
  display: flex;
  align-items: center;
  column-gap: 100px;
  max-width: 1050px;
}
.hero__content {
  width: 50%;
}
.hero__title {
  color: white;
  font-size: 64px;
  font-weight: bold;
}
.hero__btn {
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  padding: 10px 24px;
  border: none;
  border-radius: 10px;
  margin-top: 27px;
  cursor: pointer;
  transition: transform 0.5s;
}
.hero__btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.fa-arrow-right {
  color: #ffffff;
  margin-left: 8px;
}
.hero__image {
  width: 50%;
  transition: transform 1s;
}
.hero__image img {
  width: 100%;
}
.hero__image:hover {
  transform: scale(1.2);
}
.hero__btn:hover {
  transform: scale(1.2);
}

/*------------------- 
BLOG SECTION STYLES 
--------------------*/
.main__section {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.players__container {
  max-width: 1050px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}
.player {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player__img img {
  width: 100%;
}
.player__name {
  margin-top: 10px;
  font-weight: 700;
  font-size: 28px;
  color: #18191f;
}
.player p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 26px;
  color: #6c6c6c;
}
