* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*------------------- 
HERO SECTION STYLES  
--------------------*/
.hero__section {
  background-color: #2d25a0;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__container {
  display: flex;
  align-items: center;
  column-gap: 100px;
  max-width: 1050px;
}
.hero__content {
  width: 50%;
}
.hero__title {
  color: white;
  font-size: 64px;
  font-weight: bold;
}
.hero__btn {
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  padding: 10px 24px;
  border: none;
  border-radius: 10px;
  margin-top: 27px;
  cursor: pointer;
  transition: transform 0.5s;
}
.hero__btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.fa-arrow-right {
  color: #ffffff;
  margin-left: 8px;
}
.hero__image {
  width: 50%;
  transition: transform 1s;
}
.hero__image img {
  width: 100%;
}
.hero__image:hover {
  transform: scale(1.2);
}
.hero__btn:hover {
  transform: scale(1.2);
}

/*------------------- 
BLOG SECTION STYLES 
--------------------*/
